<!doctype html>

<html lang = "en">
    <head>
        <meta charset = "utf-8"/>
        <meta name = "description" content = "home page of cinema booking system"/>
        <title>Cinema Booking System</title>
        <script type = "module" src = "/slider.js" defer></script>
        <!-- external css -->
        <link href = "/style.css" type = "text/css" rel = "stylesheet" />
    </head>
    <body>
        <header>
            <h1>Movie Detail</h1>
            <a href = "/">Home</a>
            {{#if authorised}}
                <a href = "/logout">Log Out</a>
            {{else}}
                <a href = "/login">Log In</a>
                <a href = "/register">Register</a>
            {{/if}}
        </header>
        <main>
            <section>
                <img src = "{{movie.thumbnail}}" style = "height: 12vw;" />
                <h3>Movie name: {{movie.name}}</h3>
                <p>Description: {{movie.description}}</p>
                <p>Rating: {{movie.rating}}<p>
                {{#if staff}}
                    <p><a href = "/edit?id={{movie.id}}">Edit</a></p>
                    <p><a href = "/delete_movie?id={{movie.id}}">Delete</a></p>
                {{/if}}
                <article>
                    <p>Shows:
                        {{#each movie.cinemas}}
                            <p>{{this.name}}: 
                                {{#each this.shows}}
                                    <a>{{this.show_time}}</a>
                                {{/each}}
                            </p>
                        {{/each}}
                    </p>
                </article>
            </section>
            <section>
                <h3>Comments:</h3>
                {{#each comments}}
                    <article>
                        <p>User: {{this.name}}</p>
                        <p>Rating: {{this.rating}}</p>
                        <p>{{this.review}}</p>
                        {{#if ../staff}}
                            <p><a href = "/delete_comment?id={{this.id}}&movieId={{../movie.id}}">Delete</a></p>
                        {{/if}}
                    </article>
                {{/each}}
                {{#if authorised}}
                    <article>
                        <form action = "/add_comment" method = "post">
                            <input name = "movieId" type = "hidden" value = "{{movie.id}}" required />
                            <input name = "name" type = "hidden" value = "{{authorised}}" required />
                            <p><label>Rating: </label><input name = "rating" type = "range" value = "3" min = "1" max = "5" /><output name  = "rating_value">3</output></p>
                            <p><textarea name = "review" required></textarea></p>
                            <p><input type = "submit" value = "Post" /></p>
                        </form>
                    </article>
                {{/if}}
            </section>
        </main>
    </body>
</html>
