<!doctype html>

<html lang = "en">
    <head>
        <meta charset = "utf-8"/>
        <meta name = "description" content = "home page of cinema booking system"/>
        <title>Cinema Booking System</title>
        <!-- external css -->
        <link href = "/style.css" type = "text/css" rel = "stylesheet" />
    </head>
    <body>
        <header>
            <h1>Cinema Booking System</h1>
            {{#if authorised}}
                <a href = "/logout">Log Out</a>
            {{else}}
                <a href = "/login">Log In</a>
                <a href = "/register">Register</a>
            {{/if}}
            {{#if staff}}
                <a href = "/add_movie">Add Movie</a>
            {{/if}}
            {{#if admin}}
                <a href = "/register">Create Account</a>
            {{/if}}
            {{#if host}}
                <a href = "/users">Manage Users</a>
            {{/if}}
            <a href = "/search">Search Movies</a>
        </header>
        <main>
            {{#each movies}}
                <section>
                    <a href = "/detail?id={{this.id}}">
                        <img src = "{{this.thumbnail}}" />
                        <h3>Movie name: {{this.name}}</h3>
                        <p>Rating: {{this.rating}}<p>
                        <p>Cinemas:{{#each this.cinemas}} {{this.name}}{{/each}}</p>
                    </a>
                </section>
            {{/each}}
        </main>
    </body>
</html>
