<!doctype html>

<html lang = "en">
    <head>
        <meta charset = "utf-8"/>
        <meta name = "description" content = "home page of cinema booking system"/>
        <title>Cinema Booking System</title>
        <!-- handlebars helper -->
        <link href = "/hbs_helper.js" type = "text/x-handlebars" />
        <!-- external css -->
        <link href = "/style.css" type = "text/css" rel = "stylesheet" />
    </head>
    <body>
        <header>
            <h1>Show</h1>
            <a href = "/">Home</a>
            <a href = "/logout">Log Out</a>
        </header>
        <main>
            <section>
                <h2>{{seat.name}}({{seat.show_time}})<br />Seats: </h2>
                <p>(red = occupied, green = free, blue = booked by you)</p>
                <form action = "/seat" method = "post">
                    <input name = "id" type = "hidden" value = "{{id}}" required/>
                    <input name = "movieId" type = "hidden" value = "{{movieId}}" required />
                    {{#each seat.a_row}}
                        <input type = "checkbox" name = "{{@key}}" {{#if this.own}}class = "owned" value = "owned"{{else if this.name}}disabled{{else}}value = "{{../authorised}}"{{/if}} />
                    {{/each}}
                    <br />
                    {{#each seat.b_row}}
                        <input type = "checkbox" name = "{{@key}}" {{#if this.own}}class = "owned" value = "owned"{{else if this.name}}disabled{{else}}value = "{{../authorised}}"{{/if}} />
                    {{/each}}
                    <br />
                    {{#each seat.c_row}}
                        <input type = "checkbox" name = "{{@key}}" {{#if this.own}}class = "owned" value = "owned"{{else if this.name}}disabled{{else}}value = "{{../authorised}}"{{/if}} />
                    {{/each}}
                    <p><input type = "submit" value = "Book" /></p>
                </form>
                {{#if staff}}
                    <p><a href = "/delete_show?id={{id}}&movieId={{movieId}}">Delete show</a></p>
                {{/if}}
            </section>
        </main>
    </body>
</html>
